<h1>Bienvenue chez TMAD</h1>

<div class="navbar">
  <div class="nav-buttons">
    <button routerLink="/">Accueil</button>

    <div style="position: relative;">
      <button (click)="toggleArticleMenu()">Gestion des Articles </button>
      <div *ngIf="showArticleMenu" class="dropdown">
        <button routerLink="/articles">Afficher tous les articles</button>
        <button routerLink="/articles/supprimer">Supprimer un article</button>
      </div>
    </div>

    <div style="position: relative;">
      <button (click)="toggleClientMenu()">Gestion des clients </button>
      <div *ngIf="showClientMenu" class="dropdown">
        <button routerLink="/clients/ajouter">Ajouter un client</button>
        <button routerLink="/clients">Afficher tous les clients</button>
      </div>
    </div>

    <button>Historique</button>
  </div>

  <div>
    <button *ngIf="!isLoggedIn()" routerLink="/login">Connexion</button>
    <button *ngIf="isLoggedIn()" class="logout-btn" (click)="logout()">Déconnexion</button>
  </div>
</div>

<router-outlet></router-outlet>
